body{
    margin: 0;
    background-color: black;
    padding: 0;
}

#root canvas{
    display: block;
    margin: 50px auto;
    background: #99A882;
    box-shadow: 0 0 0 6px black, 
                0 0 0 20px blue,
                0 0 0 35px black, 
                0 0 0 45px blue
}